vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle

atom.symlink/.apm
atom.symlink/.git-history
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

git/gitconfig.local.symlink

# compiled plugin files
*.zwc
