[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
