"*":
  welcome:
    showOnStartup: false
  editor:
    fontFamily: "Inconsolata-dz"
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    invisibles: {}
    scrollPastEnd: true
    lineHeight: 1.5
  core:
    followSymlinks: true
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "exception-reporting":
    userId: "d315e297-f711-939e-05c1-de4ac1a4191e"
  metrics:
    userId: "d6fae20d4202703470b81281bd9b4d7b4ef68859"
  linter: {}
  "graphite-ui":
    syntaxThemeColoring: true
  "atom-beautify":
    _analyticsUserId: "f48ccd8c-b82f-4fbf-bb61-4e29de7a3348"
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "autocomplete-plus": {}
"exception-reporting":
  userId: "76dc0f6f-c333-1fa0-920d-fabedcb660df"
welcome:
  showOnStartup: false
metrics:
  userId: "4585015aba70ab5c29850f634d91a23884649fb8"
