"*":
  Zen: {}
  "atom-beautify":
    css:
      preserve_newlines: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "f48ccd8c-b82f-4fbf-bb61-4e29de7a3348"
    html:
      end_with_newline: true
    js:
      break_chained_methods: true
      end_with_comma: true
      end_with_newline: true
      indent_size: 2
  "atom-typescript": {}
  "autocomplete-plus": {}
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.cpp": [
        "h"
      ]
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "TARGETS"
        "cconf"
        "cinc"
        "mcconf"
        "tw"
        "BUCK"
        "ctw"
        "thrift-cvalidator"
        "ctest"
      ]
    disabledPackages: [
      "deprecation-cop"
      "metrics"
      "styleguide"
      "timecop"
      "vim-mode"
      "nuclide-health"
      "fb-rating"
      "fuzzy-finder"
      "tree-view"
      "linter"
      "minimap"
      "atom-reason-loader"
      "atom-reason"
      "language-reason"
      "merge-conflicts"
      "atom-typescript"
      "print-atom"
      "tidy-tabs"
    ]
    followSymlinks: true
    telemetryConsent: "no"
  docblockr: {}
  editor:
    fontFamily: "\"M+ 1mn\""
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "d315e297-f711-939e-05c1-de4ac1a4191e"
  "file-icons": {}
  "graphite-ui":
    syntaxThemeColoring: true
  "highlight-selected": {}
  "language-babel":
    transpileOnSave: false
  "line-ending-converter":
    showEolInStatusBar: false
  linter:
    showErrorInline: false
    showErrorTabLine: true
    statusIconScope: "File"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "merge-conflicts": {}
  metrics:
    userId: "d6fae20d4202703470b81281bd9b4d7b4ef68859"
  minimap: {}
  nuclide:
    "fb-health":
      showKeyLatency: true
    "fb-login": {}
    "fb-nuclide-installer":
      enableSelfUpdate: true
    "fb-populate-symbols":
      populateSymbolsView: true
    "fb-rating":
      rating: 4
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist":
      blacklistedLinters: [
        "FBHACK"
        "PEP8"
        "FLAKE8"
        "FBFLOW"
        "FBRELAYFLOW"
        "FlowLint"
      ]
    "nuclide-buck":
      suggestTaskRunner: false
    "nuclide-buck-files": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-diff-view":
      toolbarVisible: true
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "www"
          params:
            authMethod: "PRIVATE_KEY"
            cwd: "/home/poshannessy/www"
            pathToPrivateKey: "/Users/poshannessy/.ssh/fb_id_rsa"
            remoteServerCommand: ""
            server: "our.poshannessy.sb.facebook.com"
            sshPort: "22"
            username: "poshannessy"
          saveable: true
        }
        {
          deletable: true
          displayTitle: "fbcode"
          params:
            displayTitle: "fbcode"
            username: "poshannessy"
            server: "our.poshannessy.sb.facebook.com"
            cwd: "/data/users/poshannessy/fbsource/fbcode"
            sshPort: "22"
            authMethod: "PASSWORD"
            pathToPrivateKey: "/Users/poshannessy/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
        {
          deletable: true
          displayTitle: "rocksdb"
          params:
            displayTitle: "rocksdb"
            username: "poshannessy"
            server: "our.poshannessy.sb.facebook.com"
            cwd: "/data/users/poshannessy/rocksdb"
            sshPort: "22"
            authMethod: "PRIVATE_KEY"
            pathToPrivateKey: "/Users/poshannessy/.ssh/fb_id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
      ]
      shutdownServerAfterDisconnection: false
    "nuclide-working-sets":
      workingSets: [
        {
          name: "lint"
          active: false
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/scripts/lint/eslint"
          ]
        }
        {
          name: "react-release-manager"
          active: true
          uris: [
            "/Users/poshannessy/FB/code/react@release-manager/scripts/release-manager"
          ]
        }
        {
          name: "engsite"
          active: false
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/engsite"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/site/code"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/site/web/engsite"
          ]
        }
        {
          name: "engsite2"
          active: false
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/engsite"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/site/code"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/site/web/engsite"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/html/css/engsite"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/html/js/engsite"
          ]
        }
        {
          name: "oss tools"
          active: false
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/entity/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/intern/entity/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/intern/entschema/generated/entity/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/intern/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/intern/site/web/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/flib/intern/site/x/opensource"
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/www-hg/scripts/opensource"
          ]
        }
        {
          name: "fbcode-aiviz"
          active: false
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/fbsource/fbcode/deeplearning/aiviz"
          ]
        }
        {
          name: "fbcode-oss-tools"
          active: true
          uris: [
            "nuclide://our.poshannessy.sb.facebook.com/data/users/poshannessy/fbsource/fbcode/opensource"
          ]
        }
      ]
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
  react:
    decreaseIndentForNextLinePattern: "(?x) />\\s*(,|;)?\\s*$ | ^\\s*\\S+.*</[-_\\.A-Za-z0-9]+>$"
    jsxComplexAttributePattern: "(?x)\\{ [^}\"']* $|\\( [^)\"']* $"
    jsxTagStartPattern: "(?x)((^|=|return)\\s*<([^!/?](?!.+?(</.+?>))))"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
